<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: 'Poppins',sans-serif; background-color: black;">
    <div style="margin: auto;">
        <div style="   margin: auto;  padding: 40px 40px; background-color: #FFFFFF;">
            <!-- <p style="margin: 0;">AQUACYCL</p> -->
            <img width="100px" src="https://d2zzzeyzow1636.cloudfront.net/static/aquacycl.png" alt="">
            <h2 style="margin: 0; margin-top: 25px;">Dear {{username}},</h2>
            <h3 style="margin: 0; margin-bottom: 25px; margin-top: 25px;">Thank you for signing up for our services! To
                ensure the security of your account, we kindly request you to verify your email address by clicking on
                the verification link provided below:</h3>
            <a href={{verification_url}} target="_blank" style="white-space: nowrap;">{{verification_url}}</a>
            <p style="margin: 0; margin-top: 20px; color: var(--c-1, #263238);">If you did not create an account with us, or if you received this email in error, please disregard this message.</p>
            <p style="margin: 0; margin-top: 15px; color: var(--c-1, #263238);">Best Regards,</p>
            <p style="margin: 0; color: var(--c-1, #263238);">Aquacycl</p>
            <div style="cursor: pointer; margin-top: 15px;">
                <span>
                    <a href="https://www.facebook.com/Aquacycl" style="text-decoration: none;" target="_blank">
                        <img style="height: 20px; width: 20px;"
                            src="https://d2zzzeyzow1636.cloudfront.net/static/facebook.png" alt="">
                    </a>
                </span>
                <span>
                    <a href="https://www.instagram.com/aquacycl_wastewater/" style="text-decoration: none;"
                        target="_blank">
                        <img style="height: 20px; width: 20px;"
                            src="https://d2zzzeyzow1636.cloudfront.net/static/instagram.png" alt="">
                    </a>
                </span>
                <span>
                    <a href="https://www.youtube.com/channel/UCajKly8o5hbMguFhRNjPxWg" style="text-decoration: none;"
                        target="_blank">
                        <img style="height: 20px; width: 20px;"
                            src="https://d2zzzeyzow1636.cloudfront.net/static/youtube.png" alt="">
                    </a>
                </span>
                <span>
                    <a href="https://www.linkedin.com/company/aquacycl/" style="text-decoration: none;" target="_blank">
                        <img style="height: 20px; width: 20px;"
                            src="https://d2zzzeyzow1636.cloudfront.net/static/linkedin.png" alt="">
                    </a>
                </span>
            </div>
            <p style="color: var(--c-1, #263238);">&copy; 2023 Aquacycl. All rights reserved.</p>
        </div>
    </div>
</body>

</html>